alembic==1.18.3
fastapi==0.128.0
uvicorn==0.40.0
sse-starlette==3.2.0
loguru==0.7.3
dais-sdk>=0.6.0
markitdown[docx,pdf,pptx]==0.1.4
platformdirs==4.5.1
pydantic==2.12.5
watchdog==6.0.0
sqlalchemy==2.0.46