#root {
  height: 100vh;
  overflow: hidden;
}

html,
body {
  overscroll-behavior: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

input[type="password"]::-ms-reveal {
  display: none !important;
}

.dark input[type="number"] {
  color-scheme: dark;
}

.theme-switching * {
  transition: none !important;
}
