@theme inline {
  --color-layout-activity-bar: var(--layout-activity-bar);
  --color-layout-sidebar: var(--layout-sidebar);
  --color-layout-tabs-bar: var(--layout-tabs-bar);
  --color-layout-tabs-content: var(--layout-tabs-content);
}

:root {
  --layout-activity-bar: var(--muted);
  --layout-sidebar: color-mix(in oklch, var(--muted) 40%, var(--background));
  --layout-tabs-bar: color-mix(in oklch, var(--muted) 40%, var(--background));
  --layout-tabs-content: var(--card);
}

.dark {
  --layout-activity-bar: var(--muted);
  --layout-sidebar: color-mix(in oklch, var(--muted) 75%, var(--background));
  --layout-tabs-bar: color-mix(in oklch, var(--muted) 75%, var(--background));
  --layout-tabs-content: var(--card);
}