@utility shadcn-scroll {
  &::-webkit-scrollbar {
    width: 0.5rem;
    height: 100%;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--border);
    border-radius: 9999px;
    background-clip: content-box;
  }
}

@utility shadcn-scroll-horizontal {
  &::-webkit-scrollbar {
    width: 100%;
    height: 0.5rem;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--border);
    border-radius: 9999px;
    background-clip: content-box;
  }
}
